<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
<!-- use-expressions="true" -->
	<http auto-config="true" >
		<intercept-url pattern="/admin**" access="ROLE_USER" />
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<session-management>
			<concurrency-control max-sessions="10" expired-url="/login?expired" session-registry-alias="sessionRegistry"/>
		</session-management>
		<!-- enable csrf protection -->
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="assad" password="aaa" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
		<beans:bean id="sessionRegistry"
            class="org.springframework.security.core.session.SessionRegistryImpl" />
	

</beans:beans>